* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  border: 1px solid black;
  background-color: aquamarine;
  padding: 2rem;
  text-align: center;
  color: crimson;
}
p {
  font-size: 3rem;
}

img {
  height: 100px;
}
