body {
  height: 100vh;
  background-image: url(Recursos/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

p {
  font-family: "Press Start 2P", cursive;
}

header img {
  width: 15rem;
}

img {
  width: 15rem;
}

/* button {
  background-image: url(Recursos/boton.svg);
  background-color: rgba(240, 255, 255, 0);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  border: 0cm;
  width: 10rem;
  height: 5rem;
  text-align: center;
}
 */
