* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  /* background-image: url("Recursos/G.9.1.GPS-animacion.gif"); */
  background-color: #66cccc;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat-x;
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-rows: 0.2fr 0.8fr;
  background-attachment: fixed;
}
body.noche {
  background-image: url("Recursos/fondo-noche@2x.png");
  background-position: center bottom;
  background-size: contain;
}
body.dia {
  background-image: url("Recursos/fondo-dia@2x.png");
  background-position: center bottom;
  background-size: cover;
}
section#gps {
  display: none;
}
header#logo {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100vw;
}
section#gps.activo {
  display: flex;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem;
}

img {
  width: 10rem;
  filter: drop-shadow(5px 5px 5px rgba(10, 10, 10, 0.712));
}

button {
  background-image: url(Recursos/boton.svg);
  background-color: rgba(240, 255, 255, 0);
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(5px 5px 5px rgba(10, 10, 10, 0.712));
  text-align: center;
  border: none;
  width: 13rem;
  height: 5rem;
  text-align: center;
}

button p:hover {
  font-family: "Press Start 2P", cursive;
  color: rgb(255, 255, 255);
}

button:hover {
  background-image: url(Recursos/boton-hover.svg);
  background-color: rgba(240, 255, 255, 0);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;

  border: none;
  width: 13rem;
  height: 5rem;
  text-align: center;
}

main {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;

  justify-items: center;
  justify-content: center;
}

section#carrusel {
  background-color: rgba(240, 248, 255, 0.219);
  box-shadow: inset 0px 0px 5px 2px rgb(24, 24, 23);
  border-radius: 1rem;
  align-self: center;
}
ul {
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  list-style-type: disc;
}

ul::-webkit-scrollbar {
  background-color: rgba(61, 61, 66, 0);
  height: 5px;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(61, 61, 66, 0.397);
  border-radius: 10px;
}
ul::-webkit-scrollbar-thumb:hover {
  background-color: rgb(31, 31, 34);
}

li {
  list-style: none;
  height: 10%;
  padding: 1rem;
}

li img {
  width: 100%;
}
