* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  max-height: 100vh;
}
body {
  background-image: url(Recursos/fondo.png);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 0.2fr 0.5fr 0.5fr;
  grid-template-areas:
    "header"
    "clima"
    "carrusel";
  justify-items: center;
  justify-content: center;

  gap: 0.5rem;
}
body.noche {
  background-image: url(Recursos/fondo-noche@2x.png);
  background-color: #66cccc;
  background-size: cover;
  background-position: bottom;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
header {
  grid-area: header;
  padding-top: 1rem;
}
section#gps {
  display: none;
}
section#gps.activo {
  grid-area: clima;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2rem;
}
section#gps.activo img {
  width: 15rem;
}
p {
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem;
  font-size: 1.2rem;
}

header img {
  height: 10rem;
}
section#despejado {
  display: none;
}
section.clima {
  justify-content: center;
  justify-items: center;
}
section.clima img {
  width: 15rem;
}
section#carrusel img {
  width: 8rem;
}
input#boton {
  width: 15rem;
}

section#carrusel {
  margin-top: 1rem;
  background-color: rgba(240, 248, 255, 0.219);
  border-radius: 0.8rem;
  align-self: center;
}
section.clima {
  display: none;
}
ul {
  grid-area: carrusel;
  margin: 0;
  padding: 0.3rem;
  display: grid;
  overflow-x: auto;
  width: 50vw;
  grid-auto-flow: column;
  justify-content: center center;
  align-items: center;
  text-align: center;
}

ul::-webkit-scrollbar {
  background-color: rgba(61, 61, 66, 0);
  height: 0.5rem;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(61, 61, 66, 0.397);
  border-radius: 10px;
}
ul::-webkit-scrollbar-thumb:hover {
  background-color: rgb(61, 61, 66);
}

li {
  list-style: none;
}

/* li img {
  width: 6rem;
} */
